@import "variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Preprocessor {
    width: 100%;

    &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 30px;
        // background-color: #4a76a8;
        @include response-rule(background-color, red,($mw640: blue,$mw1024: $green,$mw1366: yellow,$mw1600: gray));
    }

    &-userName {
        color: white;
        // color: lighten(#8ec63f, 10%);
        // color: $green;
        // color: rgba($green, .25);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
    }

    &-content {
        width: 900px;
        height: calc(100vh - 60px);
        margin: 0 auto;
        // box-shadow: inset 20px 30px 15px 10px rgba(gold, 0.2);
    } 
}