body {
    width: 100%;
}

.Auth {
    width: 50vw;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.Auth-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.Auth-login {
    height: 40px;
    width: 300px;
}

.Auth-login:last-child {
    margin-left: 30px;
}

.Auth-row:nth-child(odd) {
    justify-content: flex-start;
    display: flex;
}