* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.itemLink {
    /* задаем стили для ссылок делая акцент на том что без стилей он выглядят не так как надо нам */
    color: white;
    text-decoration: none;
    line-height: 34px;
}

.imageLink {
    height: 34px;
    width: 150px;
    background-position: center;
    background-size: 100%;
}



.userPhoto {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 20px;
    transition: 0.5s;
}

.userPhoto:hover {
    height: 50px;
    width: 50px;
    transition: 1s;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.name {
    color: white;
    font-size: 15px;
}