/* 
* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 30px;
}

.title {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.imagesBlock {
    text-align: center;
}

.image {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.backImage {
    background-image: url('../images/dog-2.jpg');
    background-size: 100%;
    display: inline-block;
}

.imageText {
    font-size: 28px;
    color: black;
}

.subImage {
    height: 200px;
    width: 200px;
} */