* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.video {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.placeholder {
    position: relative;
    z-index: 1;
    padding: 40px;
}

h1 {
    text-align: center;
    width: 100%;
    color: green;

}

.menu {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.menuItem {
    margin-right: 40px;
    color: red;
    text-transform: uppercase;
    list-style: none;
}

.menuItem > a {
    color: inherit;
    text-decoration: none;
}