* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.Preprocessor {
  width: 100%; }
  .Preprocessor-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px; }
    .Preprocessor-header {
      background-color: red; }
    @media (min-width: 640px) {
      .Preprocessor-header {
        background-color: blue; } }
    @media (min-width: 1024px) {
      .Preprocessor-header {
        background-color: #8ec63f; } }
    @media (min-width: 1366px) {
      .Preprocessor-header {
        background-color: yellow; } }
    @media (min-width: 1600px) {
      .Preprocessor-header {
        background-color: gray; } }
  .Preprocessor-userName {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px; }
  .Preprocessor-content {
    width: 900px;
    height: calc(100vh - 60px);
    margin: 0 auto; }

/*# sourceMappingURL=preprocessor.css.map */
