 * {
     
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

 }

 body {
     background-color: grey;
     position: relative;
 }

 .back {
     position: absolute;
     background-image: url('../images/main-page.jpg');
     height: 100vh;
     width: 100vw;
     background-size: cover;
        z-index: -1;
 }
 .container {
    height: 100vh;
    width: 100%;
    background-size: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.item {
    color: white;
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
}

.list {
    text-align: center;

}

.nav {
    width: fit-content; /* объяснить чем fit-content лучше чем ширина в пикселях */
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    width: 100%;
}

.itemLink {
    /* задаем стили для ссылок делая акцент на том что без стилей он выглядят не так как надо нам */
    color: white;
    text-decoration: none;
    line-height: 34px;
}

.newsBlock {
    height: 80vh;
    width: 100%;
    padding-top: 30px;
    text-align: center;
} 

.imageLink {
    height: 34px;
    width: 150px;
    background-position: center;
    background-size: 100%;
}



.userPhoto {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 20px;
    transition: 0.5s;
}

.userPhoto:hover {
    height: 50px;
    width: 50px;
    transition: 1s;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.name {
    color: white;
    font-size: 15px;
}

.main {
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Footer {
    height: 300px;
    width: 100%;
    background-color: #2D2B2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-item {
    width: 20%;
    min-width: 20%;
    margin-right: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    border: 1px solid green;
    border-radius: 4px;
   
}

.Footer-item:hover {
    top: -10px;
    box-shadow: 0px 0px 20px rgba(54, 237, 18, 0.5);
    transition: 0.5s;
}

.Footer-item:last-child {
    margin-right: 0px;
}

.Footer-img {
    height: 30px;
    width: fit-content;
    margin-bottom: 40px;
}

.Footer-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.Footer-text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.frame {
    width: 100%;
    overflow: hidden;
    border: none;
    height: 80px;
}